<section>
    <div class="container">
        <div class="">
            <div class="main-dashboard">
                <div class="d-flex justify-content-between">
                    <div>
                        <h2 class="pl-2">Welcome, {{user.name}} !</h2>
                        <p class="">Here's your task list</p>
                    </div>
                    <div class="dropdown" style="float:right;">
                        <img class="dropbtn" src="https://img.icons8.com/fluency/48/000000/user-male-circle.png" />


                        <div class="dropdown-content">
                            <h5 class="text-center p-2">Name</h5>
                            <a href="#">Profile</a>
                            <a href="/logout">Logout</a>
                            {{!-- <a href="#">Link 3</a> --}}
                        </div>

                    </div>
                </div>

                <div style="margin-top: 15px; min-height:500px;" class="main-dashboard">

                    <div class="row ">

                        <div class="col-xl-3 col-2 col-md-3 ">
                            <div class="card border-secondary text-right" style="max-width: 15rem; margin-left: 1rem;">
                                {{!-- <div class="card-header">Important</div> --}}
                                <div style="padding: 1.25rem 1rem;" class="card-body d-flex justify-content-between">
                                    <div style="cursor: pointer;">
                                        <i class='bx bx-star bx-lg bx-tada-hover'></i>
                                    </div>
                                    <div>
                                        <h4 class="card-title">1</h4>
                                        <p class="mb-0">Important</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-2 col-md-3 ">
                            <div class="card border-secondary text-right"
                                style="max-width: 15rem; margin-left: 1rem;  ">
                                {{!-- <div class="card-header">Important</div> --}}
                                <div style="padding: 1.25rem 1rem; " class="card-body d-flex justify-content-between ">
                                    <div style="cursor: pointer;">
                                        <i class='bx bxs-hourglass-top bx-lg bx-tada-hover'></i>
                                    </div>
                                    <div>
                                        <h4 class="card-title">1</h4>
                                        <p class="mb-0">Pending</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-2 col-md-3 ">
                            <div class="card border-secondary text-right" style="max-width: 15rem; margin-left: 1rem;">
                                {{!-- <div class="card-header">Important</div> --}}
                                <div style="padding: 1.25rem 1rem;" class="card-body d-flex justify-content-between">
                                    <div style="cursor: pointer;">
                                        {{!-- <i class='bx bx-select-multiple bx-lg bx-tada-hover'></i> --}}
                                        <i class='bx bx-check-square bx-lg bx-tada-hover '></i>
                                    </div>
                                    <div>
                                        <h4 class="card-title">1</h4>
                                        <p class="mb-0">Completed</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-2 col-md-3 ">
                            <div class="card border-secondary text-right" style="max-width: 15rem; margin-left: 1rem;">
                                {{!-- <div class="card-header">Important</div> --}}
                                <div style="padding: 1.25rem 1rem;" class="card-body d-flex justify-content-between">
                                    <div style="cursor: pointer;">
                                        <i class='bx bx-list-check bx-lg bx-tada-hover'></i> </div>
                                    <div>
                                        <h4 class="card-title">1</h4>
                                        <p class="mb-0">Total</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                    <div class="mt-5">
                        <div class="list-content">
                            <ul class="list-group">
                               
                               
                                {{!-- if task present --}}
                                

                                
                                {{#each tasks as |task|}}
                                {{!-- {{#if task.status == "important"}} --}}
                                <li class="list-item mt-2">
                                    <div class="list-item_checkmark">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckDefault">
                                        </div>
                                    </div>
                                    <div class="list-item_title">{{task.tasks}}</div>
                                </li>
                                {{/each}}

                                {{!-- if no task present --}}
                                {{#unless tasks}}   
                                <li class="list-item">
                                    <div class="list-item_checkmark">
                                        <div class="form-check">
                                            
                                        </div>
                                    </div>
                                    <div class="list-item_title text-center">No task found</div>
                                </li>
                                {{/unless}}
                                
                            </ul>
                        </div>
                    </div>

                    {{!-- <div class="d-flex justify-content-center align-items-end">
                        <img src="https://img.icons8.com/stickers/100/000000/add.png" />
                    </div> --}}

                    <div class="wrapper">
                        <div class="icon-search-container " data-ic-class="search-trigger">
                            <span class="bx bx-plus-circle add-icon"> </span>
                            <form action="" method="post">
                            <input type="text" name="todolist" class="search-input" data-ic-class="search-input" placeholder="Add Task" />
                            <i class='bx bx-paper-plane send-icon' data-ic-class="add-task" onsubmit="/add-todo" ></i>
                            <span class="fa fa-times-circle" data-ic-class="search-clear"></span>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</section>

<script>
    $(document).ready(function () {

        var $searchTrigger = $('[data-ic-class="search-trigger"]'),
            $searchInput = $('[data-ic-class="search-input"]'),
            $searchClear = $('[data-ic-class="search-clear"]'),
            $addTask = $('[data-ic-class="add-task"]');

        $searchTrigger.click(function () {

            var $this = $('[data-ic-class="search-trigger"]');
            $this.addClass('active');
            $searchInput.focus();

        });

        
        $searchInput.blur(function () {

            if ($searchInput.val().length > 0) {

                return false;

            } else {
               $searchTrigger.removeClass('active');
            }
        });

        $addTask.click(function(){
            if($searchInput.val().length > 0){
                var tasks = $searchInput.val();

                $.ajax({
                    type: 'POST',
                    url: '/add-todo',
                    data: {
                        {{!-- '_token': $searchInput.val(), --}}
                        'tasks': tasks
                    },
                    success: function(data) {
                      //  console.log(data);
                      //refresh page
                        location.reload();
                    }
                });
               // alert($searchInput.val());
               // console.log($searchInput.val());
                
            }
        });


        $searchClear.click(function () {
            $searchInput.val('');
            
        });

        $searchInput.focus(function () {
            $searchTrigger.addClass('active');
        });

    });
</script>