<section>
    <div class="container">
        <div class="">
            <div class="main-dashboard">
                <h2 class="d-flex pl-2">Welcome, {{user.name}} Job !</h2>
                <p>Here's your task list</p>
                <div style="margin-top: 20px;" class="main-dashboard">

                </div>
            </div>

        </div>




    </div>
</section>