{{#if message}}
<div class="text-center alert alert-dismissible alert-{{message.type}}">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <strong>{{message.intro}}</strong> {{message.text}} 
</div>
{{/if}}

<section class="login_body">
    <div class="main1">
        {{!-- <div class="container1 a-container" id="a-container">
            <h1>hellooo</h1>
        </div> --}}
        <h2 class="form_title title">Forgot Password</h2>
        <img class="mx-auto d-block rounded-circle " width="65px" height="65px"
         src="https://img.icons8.com/plasticine/100/000000/sad--v2.gif"/>
        <p class="switch__description description pt-3">Enter your valid email here</p>


        <div class="text-center">
            <form action="" method="post">
                <input class="form__input" type="text" placeholder="Email" name="email">
                <br>
                <input type="submit" class="btn btn-info mt-3" value="Send Email">
            </form>
        </div>

    </div>
</section>