<nav class="navbar navbar-light bg-light">
    <div class="container">
        <h1>toDo</h1>
        {{!-- <span class="navbar-brand mb-0 h1">Navbar</span> --}}
    </div>
</nav>

<div class="container">
    <div class="row d-flex justify-content-center mt-5 pt-5">



        <div class="col-xl-4 col-12">
            <img src="/images/checklist.svg" width="340px" height="340px" />
        </div>

        <div class=" col-xl-4  col-12 ">

            {{!-- <img class="rounded mx-auto d-block rounded-circle "  src="https://img.icons8.com/color/48/000000/checked-radio-button--v2.gif"/> --}}
            <img class="mx-auto d-block rounded-circle " width="60px" height="60px"
                src="https://img.icons8.com/color/48/000000/checked-radio-button--v2.gif" />
            {{!-- <img class="rounded mx-auto d-block "  src="https://img.icons8.com/nolan/96/checked-2.png" /> --}}
            <h2 class="mt-2 pt-5">ToDo List</h2>
            <div class="d-grid gap-2 mt-5  ">

                <a href="/signup-in" class="btn btn-lg btn-primary mt-5" type="button">Let's Go oN!</a>

            </div>
        </div>


        <div class=" col-xl-4  col-12">
            <img src="/images/checklist2.svg" width="360px" height="360px" />
        </div>

    </div>

</div>


